body {
  background: #e798f1;
}
app-root {
  text-align: center;
}
h1 {
  color: #bbff00;
  font-size: 3.2rem;
}

.btCrud {
  padding: .25%;
  margin: .05%;
  width: 6.25rem;
  height: 5rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  border:#e798f1 solid 0.35rem;
  color: #b6f508;
  background-color: #616161;
}
.btCrud:hover {
  border:#7df030 solid 0.35rem;
  background: #7df030;
  color:#880029;

}
.delete {
  padding: .5%;
  margin: .1%;
  width: 6.25rem;
  height: 5rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  border:#e798f1 solid 0.35rem;
  background: #c7d411;
  color:#880029;

}
.delete:hover {
  border:#941f02 solid 0.35rem;
  background: #941f02;
  color:#b5cfa4;
}

.msgTl {
  color: #7463b1;
}
li {
  list-style-type: none;
  color: #7463b1;
  font-size: 1.1rem;
}
.msgBt {
  padding: .5%;
  margin: .2%;
  width: 6rem;
  height: 5rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  background: #c7d411;
  color:#880029;
  border:#e798f1 solid 0.35rem;
}
.msgBt:hover {
  border:#941f02 solid 0.35rem;
  background: #941f02;
  color:#b5cfa4;
}
.secMsg {
  margin: .05rem auto;
  width:100%;
  padding: .15%;
}
.crud {
  padding: .5%;
  margin: .3%;
  width: 6rem;
  height: 5rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  color: #b6f508;
  background-color: #616161;
  border:#e798f1 solid 0.35rem;
}
.crud:hover {
  border:#7df030 solid 0.35rem;
  background: #7df030;
  color:#880029;
}
.crud:disabled, .crud:disabled:hover{
  color: #7fac05;
  background-color: #757373;
  border:#e798f1 solid 0.35rem;
}
.destroy {
  padding: .5%;
  margin: .3%;
  width: 6rem;
  height: 5rem;
  font-size: 1.3rem;
  border-radius: .5rem;
  background: #c7d411;
  color:#880029;
  border:#e798f1 solid 0.35rem;
}
.destroy:hover {
  border:#941f02 solid 0.35rem;
  background: #941f02;
  color:#b5cfa4;
}

article {
  background: #8e7bd1;
  padding: .5%;
  margin: 1%;
  border-radius: 1rem;
  border:#8170be solid .25rem;
  box-shadow: .2rem .2rem .6rem rgba(1,1,1,0.75);
}
h2  {
  color: #fcfcfc;
}
label {
  color:#fcfcfc;
  font-size: 1.5rem;
}
input, textarea, option, select {
  padding: .2rem;
  margin: .1rem;
  height: 1.5rem;
  font-size: 1.1rem;
  background: #acacac;
  color:#fcfcfc;
}
.invalid {
  border: #e20101 solid 3px;
}
option, select {
  text-align: center;
  height: 2.1rem;
  font-size: 1rem;
}
textarea {
  font-size: 1rem;
  height: 4.5rem;
  width: 90%;
}
input[type=number] {
  width:25%;
  text-align: center;
  margin-right: 2rem;
}
input[type=checkbox], input[type=radio] {
  width:10%;
  background: #acacac;
  color:#fcfcfc;
}
input:hover, textarea:hover, option:hover, select:hover {
  background: #620388;
  color:#c2f705;
}
input:disabled, input:disabled:hover {
  background: #636262;
  color:#b1b1b1;
}

.tableHight {
  height: 32rem;
}
table {
  margin: auto;
  background: #cbffcb;
  text-align: center;
  border:#8170be solid .2rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: .2rem .2rem .6rem rgba(1,1,1,0.75);
}
th {
  border:#8170be solid .2rem;
  padding: .35rem;
}
td {
  cursor: pointer;
}
tr:not(:first-child):hover {
  background: #117611;
  color:#fcfcfc;
}
.altern {
  background: #8e7bd1;
}

.paginacio {
  padding: .1%;
  margin: .5%;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  background: #d7dbd3;
  color:#585757;
  border-radius: 2.5rem;
}
.paginacio:hover {
  background: #7df030;
  border: #7df030 solid .1rem;
  color:#ffffff;
}
.paginacio:disabled, .paginacio:disabled:hover {
  width: 4.75rem;
  height: 4.75rem;
  font-size: 3rem;
  background: #01225e;
  border: #01225e solid .1rem;
  color:#ffd900;
}
section {
  margin: .05rem auto;
  width:100%;
  padding: .05%;
}
.imatge {
  margin: .05rem auto;
  width:100%;
  padding: .15%;
  height: 30rem;
}
@media only screen and (min-width: 850px) {
  .tableHight {height:28rem;}
  section, .imatge {width:70%;}
}
@media only screen and (min-width: 1380px) {
  .tableHight {height:24rem;}
  section, .imatge {width:60%;}
}
@media only screen and (min-width: 1600px) {
  .tableHight {height:23rem;}
  section, .imatge {width:50%;}
}
@media only screen and (min-width: 1820px) {
  .tableHight {height:22rem;}
  section, .imatge {width:40%;}
}
